# Entorno y credenciales
.env
*.env
*.local

# Node.js
node_modules/
package-lock.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Odoo y datos
data/
filestore/
*.log
*.sql
*.dump
*.zip

# IDEs y SO
.vscode/
.idea/
.DS_Store
Thumbs.db
