odoo.eruviabs.com {
    encode gzip zstd

    # Remote MCP & OAuth Endpoints para Claude Web y Móvil
    @mcp {
        path /sse*
        path /messages*
        path /oauth*
        path /.well-known*
    }
    reverse_proxy @mcp remote_mcp:8000

    # Odoo Longpolling / Websocket
    @websocket {
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @websocket odoo:8069

    # Odoo Web Principal y API
    reverse_proxy odoo:8069 {
        header_up X-Forwarded-Proto https
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
    }

    # Logs
    log {
        output stdout
        format console
    }
}
